@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ASV";
    src: url("/fonts/asv.woff2") format("woff2");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "CS";
    src: url("/fonts/cs.woff2") format("woff2");
    font-weight: 400 500;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
    html {
        font-family: "CS", "Inter", sans-serif;
        scroll-behavior: smooth;
    }
    
    body {
        font-family: "CS", "Inter", sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "ASV", serif;
    }
    
    * {
        font-family: inherit;
    }
    
    .font-sans {
        font-family: "CS", "Inter", sans-serif !important;
    }
}

@layer utilities {
    .container {
        @apply max-w-7xl mx-auto px-4;
    }
    
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
